.product {
    width: 100%;
    height: 400px;
}
.product_btn {
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
}